/* full body styles */
body {
    font-family: "Work Sans", sans-serif;

}

/* nav container */

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 200px;

}

.nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.nav-h3 {
    color: rgb(19, 19, 19);

    font-size: 45px;
    font-weight: 700;



}

.nav-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;



    font-size: 18px;
    font-weight: 500;


}

ul a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

/* banner container */
.banner-section {}

.banner-container {
    text-align: center;
    padding: 20px 20px;
}

.banner-container h1 {
    color: rgb(19, 19, 19);

    font-size: 64px;
    font-weight: 700;

}

.banner-paragraph {
    color: rgb(114, 114, 114);

    font-size: 16px;
    font-weight: 400;

}

.primary-btn {
    border-radius: 8px;

    background: rgb(255, 144, 14);
    padding: 20px 20px;
    border: 0;
    margin-top: 32px;

}

.primary-btn-text {
    color: rgb(255, 255, 255);

    font-size: 20px;
    font-weight: 600;


}


.banner-img img {
    width: 100%;
    margin-top: 50px;
}

/*main part- team-section */
.main-section {
    padding: 50px 100px;

}

.team-section {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-img-container img {
    width: 342px;
    height: 342px;


}

.Quick-list-container {
    padding-left: 50px;
}

.Quick-list {
    color: rgb(114, 114, 114);
    font-weight: 500;
    font-size: 45px;
}

.of-our {
    font-weight: 700;
    font-size: 45px;
    color: rgb(19, 19, 19);
}

.Features {
    font-weight: 700;
    font-size: 45px;
    color: rgb(255, 144, 14);

}


/* responsive media small device */
@media screen and (max-width:576px) {
    header {
        padding: 20px 20px;
    }

    .nav-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;

    }

    .nav-h3 {
        text-align: center;
    }

    .nav-ul {
        display: block;
        margin-right: 20px;



    }

    li {
        text-align: center;
        padding-top: 10px;
        padding-right: 10px;

    }

    /* nav section end */
    /* banner section */
    .banner-section {
        display: block;
    }

    .banner-container h1 {
        font-size: 50px;
    }

    /*main section  */
    .main-section {
        padding: 30px 10px;
        
    
    }
    .team-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    
        
    }
    .team-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


    }
    .team-img-container img{
        width: 100%;
    }
    .Quick-list-container {
        text-align: center;
        padding: 10px 10px;
    }




}

/* responsive for media devices */
@media screen and (min-width:576px) and (max-width:1200px) {
    header {
        padding: 50px 50px;
    }
    .team-section{display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        

    }
    .main-section {
        padding: 20px 20px;
    
    }
    .Quick-list-container {
        text-align: center;
        padding: 10px 10px;
    }



}